
#inner{
  /* display: inline-block;
   */
   width: 80%;
   height: 55%;
   top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: large;
}
#outer{
 
  text-align: center;
  box-shadow: black;
  
}
  

  @media only screen and (max-width: 770px) {
     .mycolor{
      background-image: url('imgs/inner.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: black 5px;
      border-radius: 16px;
      
      }
    }
  @media only screen and (min-width:770px){
    .mycolor{
      background-image: linear-gradient( to bottom right,rgb(201, 45, 45),rgb(22, 209, 178));
    }
  }

  body {
    background: -webkit-gradient(linear, right top, right bottom, from(#5bade7), to(#e67553)) fixed;
  }
  